body{
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    margin: 0;
}

.carousel{
    width: 900px;
}

/* CUADRO DE IMAGEN MÁS GRANDE */
.image-container{
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(255,255,255,0.1);
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTROLES */
.controls{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* BOTONES < > */
button{
    background: #222;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

button:hover{
    background: #444;
    transform: scale(1.1);
}

/* CONTENEDOR DE BOLITAS */
.dots-container{
    display: flex;
    gap: 18px;
    overflow: hidden;
    max-width: 400px;
}

/* BOLITAS GRANDES */
.dot{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.3s;
}

.dot:hover{
    transform: scale(1.2);
}

/* BOLITA ACTIVA */
.dot.active{
    background: white;
    transform: scale(1.3);
}